# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# Ignore paths that contain generated content.
cache/
files/
sites/*/files
sites/*/private

# Ignore ide files
.idea

# Ignore SASS cache
.sass-cache
.sass-cache/*

# Ignore OS specific files.
.DS_Store