.page-subject,
.page-level-subject,
.page-search,
.page-location,
.page-level,
.page-level-location,
.page-level-subject-location,
.page-subject-location {

  .section-wrapper {
    width: auto;
    margin: 0;
    padding: 0;

    & > .row {
      margin-left: 0;
      margin-right: 0;
    }

    .page-header {
      display: none;
    }
  }

  @media (max-width: 767px) {

    .sort-compare-block {
      margin-top: 15px;
    }
  }
}