@charset "UTF-8";

//
// Content box shortcode styling
//
$icon-spacer-lg: 2.5em;
$icon-spacer-2x: 3.5em;
$icon-spacer-3x: 4.5em;
$icon-spacer-4x: 5.5em;
$icon-spacer-5x: 6.5em;
$iconpadded-spacer-lg: 3em;
$iconpadded-spacer-2x: 5.25em;
$iconpadded-spacer-3x: 7.3em;
$iconpadded-spacer-4x: 9.4em;
$iconpadded-spacer-5x: 11.5em;

.stbe-iconbox {
  display:inline-block;
  padding:0.4em;
  position:relative;
  box-sizing: border-box;
  width:100%;
  margin-bottom:30px;
  .stbe-iconbox__heading .stbe-iconbox__title {
    clear:none;
  }
}
// Layout
.stbe-iconbox--icon-inline-title {
  display:table;
  .stbe-iconbox__heading {
    padding-bottom: 15px;
  }
	.stbe-iconbox__span-icon, .stbe-iconbox__title {
		display:table-cell;
    vertical-align:middle;
	}
  .stbe-iconbox__span-icon {
    padding-right:15px;
  }
}
.stbe-iconbox--no-icon .stbe-iconbox__title {
  display:block;
}
.stbe-iconbox--icon-boxed {
  background:#eee;
  padding:50px 3% 30px 3%;
  text-align:center;
  i {
    position:absolute;
    top:-0.55em;
    margin-left:-0.55em;
  }
  &.stbe-iconbox--2x-icon {
    margin-top:30px;
  }
  &.stbe-iconbox--3x-icon {
    margin-top:40px;
  }
  &.stbe-iconbox--4x-icon {
    margin-top:50px;
  }
  &.stbe-iconbox--5x-icon {
    margin-top:70px;
  }
}
.stbe-iconbox--icon-adjacent {
  .stbe-iconbox__span-icon {
    margin-left: -$icon-spacer-lg;
    float:left;
  }
  .stbe-iconbox__content,
  .stbe-iconbox__heading {
    padding-left: $icon-spacer-lg;
  }
  .stbe-iconbox__title {
    margin-bottom: 10px;
  }
  &.stbe-iconbox--2x-icon {
    .stbe-iconbox__span-icon {
      margin-left: -$icon-spacer-2x;
    }
    .stbe-iconbox__content,
    .stbe-iconbox__heading {
      padding-left: $icon-spacer-2x;
    }
  }
  &.stbe-iconbox--3x-icon {
    .stbe-iconbox__span-icon {
      margin-left: -$icon-spacer-3x;
    }
    .stbe-iconbox__content,
    .stbe-iconbox__heading {
      padding-left: $icon-spacer-3x;
    }
  }
  &.stbe-iconbox--4x-icon {
    .stbe-iconbox__span-icon {
      margin-left: -$icon-spacer-4x;
    }
    .stbe-iconbox__content,
    .stbe-iconbox__heading {
      padding-left: $icon-spacer-4x;
    }
  }
  &.stbe-iconbox--5x-icon {
    .stbe-iconbox__span-icon {
      margin-left: -$icon-spacer-5x;
    }
    .stbe-iconbox__content,
    .stbe-iconbox__heading {
      padding-left: $icon-spacer-5x;
    }
  }
  // Right: Icon on right side
  &.stbe-iconbox--right {
    .stbe-iconbox__span-icon {
      margin-left:0;
      margin-right: -$icon-spacer-lg;
      float:right;
    }
    .stbe-iconbox__content,
    .stbe-iconbox__heading {
      padding-left: 0;
      padding-right: $icon-spacer-lg;
    }
    &.stbe-iconbox--2x-icon {
      .stbe-iconbox__span-icon {
        margin-right: -$icon-spacer-2x;
      }
      .stbe-iconbox__content,
      .stbe-iconbox__heading {
        padding-right: $icon-spacer-2x;
      }
    }
    &.stbe-iconbox--3x-icon {
      .stbe-iconbox__span-icon {
        margin-right: -$icon-spacer-3x;
      }
      .stbe-iconbox__content,
      .stbe-iconbox__heading {
        padding-right: $icon-spacer-3x;
      }
    }
    &.stbe-iconbox--4x-icon {
      .stbe-iconbox__span-icon {
        margin-right: -$icon-spacer-4x;
      }
      .stbe-iconbox__content,
      .stbe-iconbox__heading {
        padding-right: $icon-spacer-4x;
      }
    }
    &.stbe-iconbox--5x-icon {
      .stbe-iconbox__span-icon {
        margin-right: -$icon-spacer-5x;
      }
      .stbe-iconbox__content,
      .stbe-iconbox__heading {
        padding-right: $icon-spacer-5x;
      }
    }
  }
}
.stbe-iconbox--icon-adjacent.stbe-iconbox--iconpadded {
  .stbe-iconbox__span-icon {
    margin-left: -$iconpadded-spacer-lg;
    float:left;
  }
  .stbe-iconbox__content,
  .stbe-iconbox__heading {
    padding-left: $iconpadded-spacer-lg;
  }
  .stbe-iconbox__title {
    margin-bottom: 10px;
  }
  &.stbe-iconbox--2x-icon {
    .stbe-iconbox__span-icon {
      margin-left: -$iconpadded-spacer-2x;
    }
    .stbe-iconbox__content,
    .stbe-iconbox__heading {
      padding-left: $iconpadded-spacer-2x;
    }
  }
  &.stbe-iconbox--3x-icon {
    .stbe-iconbox__span-icon {
      margin-left: -$iconpadded-spacer-3x;
    }
    .stbe-iconbox__content,
    .stbe-iconbox__heading {
      padding-left: $iconpadded-spacer-3x;
    }
  }
  &.stbe-iconbox--4x-icon {
    .stbe-iconbox__span-icon {
      margin-left: -$iconpadded-spacer-4x;
    }
    .stbe-iconbox__content,
    .stbe-iconbox__heading {
      padding-left: $iconpadded-spacer-4x;
    }
  }
  &.stbe-iconbox--5x-icon {
    .stbe-iconbox__span-icon {
      margin-left: -$iconpadded-spacer-5x;
    }
    .stbe-iconbox__content,
    .stbe-iconbox__heading {
      padding-left: $iconpadded-spacer-5x;
    }
  }
  // Right: Icon on right side
  &.stbe-iconbox--right {
    .stbe-iconbox__span-icon {
      margin-left:0;
      margin-right: -$iconpadded-spacer-lg;
      float:right;
    }
    .stbe-iconbox__content,
    .stbe-iconbox__heading {
      padding-left: 0;
      padding-right: $iconpadded-spacer-lg;
    }
    &.stbe-iconbox--2x-icon {
      .stbe-iconbox__span-icon {
        margin-right: -$iconpadded-spacer-2x;
      }
      .stbe-iconbox__content,
      .stbe-iconbox__heading {
        padding-right: $iconpadded-spacer-2x;
      }
    }
    &.stbe-iconbox--3x-icon {
      .stbe-iconbox__span-icon {
        margin-right: -$iconpadded-spacer-3x;
      }
      .stbe-iconbox__content,
      .stbe-iconbox__heading {
        padding-right: $iconpadded-spacer-3x;
      }
    }
    &.stbe-iconbox--4x-icon {
      .stbe-iconbox__span-icon {
        margin-right: -$iconpadded-spacer-4x;
      }
      .stbe-iconbox__content,
      .stbe-iconbox__heading {
        padding-right: $iconpadded-spacer-4x;
      }
    }
    &.stbe-iconbox--5x-icon {
      .stbe-iconbox__span-icon {
        margin-right: -$iconpadded-spacer-5x;
      }
      .stbe-iconbox__content,
      .stbe-iconbox__heading {
        padding-right: $iconpadded-spacer-5x;
      }
    }
  }
}
