@charset "UTF-8";

body {
  .stpe-separator--slant-left {
    width: 150px;
    height: 100px;
    transform: skew(20deg);
  }
  .stpe-separator--slant-right {
    width: 150px;
    height: 100px;
    transform: skew(-20deg);
  }
}