@charset "UTF-8";

.glazed .iris-picker,
.glazed .iris-picker * {
  box-sizing: content-box;
}

.glazed .iris-picker {
  padding-top: 35px !important;
}

.iris-palette-container {
  margin-bottom: 25px !important;
}

.iris-alpha-slider-container {
  border: none !important;
  bottom: 5px !important;
  left: 5px !important;
  width: 95% !important;
}
