@charset "UTF-8";

#az-editor-tabs .icons {
  height: 350px;
  overflow: scroll;
}
#az-editor-tabs .cb-search-icon {
  display: block;
  margin: 10px 0;
  &::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    cursor: pointer;
  }
}
#az-editor-tabs .az-icon-sets {
  margin: 10px;
}
#az-editor-tabs .icons .cb-icons-wrapper span {
  width: 6%;
  font-size: 24px;
  cursor: pointer;
}
#az-editor-tabs .icons .cb-icons-wrapper .ui-selected {
  color: green;
}
.az-filter-hide,
.az-search-hide {
  display: none !important;
  pointer-events: none;
}