@charset "UTF-8";

.modal.glazed {
    // FLAT DESIGN FORM RADIOS
  .form-radios {
    padding: 0;
    background: #fff;
    float: left;
    width: 260px;
    font-size: 13px;
    box-sizing: border-box;
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    .form-type-radio {
      &:before {
        content: " ";
        display: table;
      }
      &:after {
        content: " ";
        display: table;
        clear: both;
      }
      input {
        display: none;
        &:checked ~ label {
          font-weight: normal;
          font-style: italic;
          &:before {
            content: '✓';
            font-weight: bold;
          }
        }
      }

      label {
        border: 1px solid #ddd;
        padding: 5px 15px;
        width: 260px;
        margin-top: -1px;
        margin-bottom: 0;
        line-height: 24px;
        float: left;
        display: block;
        font-size: 13px;
        &:before {
          content: '';
          display: inline-block;
          width: 25px;
          font-size: 18px;
          line-height: 1em;
          color: #000;
          font-weight: normal;
        }
      }
    }
  }
}