@charset "UTF-8";

.html .modal.glazed {
  .nav-tabs {
    padding: 0 !important;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    border: none;
    background: #f6f6fb;
    color: #444;
    li {
      margin: 0;
    }
    li > a {
    border: none;
    background: none;
    outline: none;
    padding: 13px 20px;
    font-size: 14px;
    border-radius: 0;
    margin: 0;
    color: #555;
    &:hover,
    &:focus {
      color: #555;
      outline: none;
      border:none;
    }
    }
    li.active a {
    background: #e9e9f3;
    color: #0180ef;
    border:none;
    outline: none;
    }
  }
}