@charset "UTF-8";

#az-elements-tabs .tab-pane .well {
  float: left;
  width: 163px;
  margin: 5px;
  height: 120px;
  padding: 20px 8px;
  font-size: 14px;
  background: #f6f6fb;
  color: #333;
  &:hover {
    cursor: pointer;
  }
  i {
    display: block;
    font-size: 32px;
    width: 100%;
    padding-bottom: 10px;
  }
  &.glazed-cms {
    height: 80px;
    padding: 8px;
    text-align: left;
    i {
      display: inline-block;
      font-size: 20px;
      width: auto;
      padding-right: 3px;
    }
  }
}
