@charset "UTF-8";

//
// GLAZED BUILDER BACKEND VARIABLES
//
$glazed-shadow-1: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
$glazed-shadow-2: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
$glazed-shadow-3: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
$glazed-shadow-4: 0 8px 38px 0 rgba(0, 0, 0, 0.3);
$glazed-shadow-5: 0 12px 57px 0 rgba(0, 0, 0, 0.3);
