@charset "UTF-8";

//
// Social icons shortcode styling
//

.html ul.stbe-social-links {
  margin:0;
  padding:0;
  .stbe-social-links__item {
    margin:0;
    padding:0;
    list-style:none;
    list-style-type:none;
    // min-height:20px;
    background-image:none;
    display:inline-block;
    // padding-top:7px;
    // padding-bottom:7px;
    a {
      margin-right:0.5em;
      margin-top:4px;
      display:block;
      min-height:19px;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
  &.stbe-social-links-stacked .stbe-social-links__item {
    display: block;
  }
  .fa {
    box-sizing: content-box;
    // color:  #eee;
    // color: rgba(200, 200, 200, 0.8);
  }
  .fa {
    &:hover, &:active {
      // color: #fff;
    }
  }
}

// Icon color source: http://codepen.io/elishaterada/pen/tGokD/

// Brand Colors
$fa-500px: #0099e5;
$fa-adn: #4A484C;
$fa-amazon: #ff9900;
$fa-android: #a4c639;
$fa-angellist: #000;
$fa-apple: #979797;
$fa-behance: #1769ff;
$fa-behance-square: $fa-behance;
$fa-bitbucket: #205081;
$fa-bitbucket-square: $fa-bitbucket;
$fa-bitcoin: #ee9209;
$fa-black-tie: #222;
$fa-btc: $fa-bitcoin;
$fa-buysellads: #c90100;
$fa-cc-amex: #007bc1;
$fa-cc-diners-club: #004A97;
$fa-cc-discover: #f68121;
$fa-cc-jcb: #003A8F;
$fa-cc-mastercard: #0a3a82;
$fa-cc-paypal: #253b80;
$fa-cc-stripe: #00afe1;
$fa-cc-visa: #0157a2;
$fa-chrome: #4587F3;
$fa-codepen: #000;
$fa-connectdevelop: #391448;
$fa-contao: #eb8623;
$fa-creative-commons: #231f20;
$fa-css3: #1680C0;
$fa-dashcube: #7f7f7f;
$fa-delicious: #3399ff;
$fa-deviantart: #4e6252;
$fa-digg: #000;
$fa-dribbble: #444444;
$fa-dropbox: #007ee5;
$fa-drupal: #0077c0;
$fa-empire: #000;
$fa-expeditedssl: #343433;
$fa-facebook: #3b5998;
$fa-facebook-official: $fa-facebook;
$fa-facebook-square: $fa-facebook;
$fa-firefox: #e66000;
$fa-flickr: #ff0084;
$fa-fonticons: #1C1E29;
$fa-forumbee: #83ad13;
$fa-foursquare: #0072b1;
$fa-ge: #000;
$fa-get-pocket: #d3505a;
$fa-gg-circle: #000;
$fa-gg: #000;
$fa-git: #333;
$fa-git-square: $fa-git;
$fa-github: $fa-git;
$fa-github-alt: $fa-github;
$fa-github-square: $fa-github;
$fa-gittip: #663300;
$fa-google: #4285f4;
$fa-google-plus: #dd4b39;
$fa-google-plus-square: $fa-google-plus;
$fa-google-wallet: $fa-google;
$fa-hacker-news: #ff6600;
$fa-houzz: #7ac142;
$fa-html5: #e34f26;
$fa-instagram: #3f729b;
$fa-internet-explorer: #1EBBEE;
$fa-ioxhost: #faa729;
$fa-joomla: #142849;
$fa-jsfiddle: #4679BD;
$fa-lastfm: #c3000d;
$fa-lastfm-square: $fa-lastfm;
$fa-leanpub: #0c0c0c;
$fa-linkedin: #0976b4;
$fa-linkedin-square: $fa-linkedin;
$fa-linux: #333333;
$fa-maxcdn: #FF6600;
$fa-meanpath: #538ed7;
$fa-medium: #000;
$fa-odnoklassniki: #ed812b;
$fa-odnoklassniki-square: $fa-odnoklassniki;
$fa-opencart: #2AC2EF;
$fa-openid: #F78C40;
$fa-opera: #cc0f16;
$fa-optin-monster: #83c11f;
$fa-pagelines: #000;
$fa-paypal: #253b80;
$fa-pied-piper: #2f9f46;
$fa-pied-piper-alt: $fa-pied-piper;
$fa-pied-piper-square: $fa-pied-piper;
$fa-pinterest: #cc2127;
$fa-pinterest-p: $fa-pinterest;
$fa-pinterest-square: $fa-pinterest;
$fa-qq: #000;
$fa-ra: #000;
$fa-rebel: $fa-ra;
$fa-reddit: #ff4500;
$fa-reddit-square: $fa-reddit;
$fa-renren: #005EAC;
$fa-safari: #1B88CA;
$fa-sellsy: #1f78b9;
$fa-share-alt: #01bf01;
$fa-share-alt-square: $fa-share-alt;
$fa-shirtsinbulk: #dd3a26;
$fa-simplybuilt: #000;
$fa-skyatlas: #00adbb;
$fa-skype: #00aff0;
$fa-slack: #0f7965;
$fa-slideshare: #e98325;
$fa-soundcloud: #f80;
$fa-spotify: #7ab800;
$fa-stack-exchange: #000;
$fa-stack-overflow: #fe7a15;
$fa-steam: #0B0B0B;
$fa-steam-square: $fa-steam;
$fa-stumbleupon: #eb4924;
$fa-stumbleupon-circle: $fa-stumbleupon;
$fa-tencent-weibo: #74AF2C;
$fa-trello: #256a92;
$fa-tripadvisor: #589442;
$fa-tumblr: #35465c;
$fa-tumblr-square: $fa-tumblr;
$fa-twitch: #6441a5;
$fa-twitter: #55acee;
$fa-twitter-square: $fa-twitter;
$fa-viacoin: #333;
$fa-vimeo: #1ab7ea;
$fa-vimeo-square: $fa-vimeo;
$fa-vine: #00b488;
$fa-vk: #45668e;
$fa-wechat: #93d034;
$fa-weibo: #E71D34;
$fa-weixin: $fa-wechat;
$fa-wikipedia-w: #000;
$fa-windows: #00bcf2;
$fa-wordpress: #21759b;
$fa-xing: #026466;
$fa-xing-square: $fa-xing;
$fa-y-combinator: #F0652F;
$fa-yahoo: #400191;
$fa-yc: $fa-y-combinator;
$fa-yelp: #af0606;
$fa-youtube: #e52d27;
$fa-youtube-play: $fa-youtube;
$fa-youtube-square: $fa-youtube;
.stbe-social-links--bgcolor-brand .fa {
  &.fa-500px { background-color: $fa-500px; }
  &.fa-adn { background-color: $fa-adn; }
  &.fa-amazon { background-color: $fa-amazon; }
  &.fa-android { background-color: $fa-android; }
  &.fa-angellist { background-color: $fa-angellist; }
  &.fa-apple { background-color: $fa-apple; }
  &.fa-behance { background-color: $fa-behance; }
  &.fa-behance-square { background-color: $fa-behance-square; }
  &.fa-bitbucket { background-color: $fa-bitbucket; }
  &.fa-bitbucket-square { background-color: $fa-bitbucket-square; }
  &.fa-bitcoin { background-color: $fa-bitcoin; }
  &.fa-black-tie { background-color: $fa-black-tie; }
  &.fa-btc { background-color: $fa-btc; }
  &.fa-buysellads { background-color: $fa-buysellads; }
  &.fa-cc-amex { background-color: $fa-cc-amex; }
  &.fa-cc-diners-club { background-color: $fa-cc-diners-club; }
  &.fa-cc-discover { background-color: $fa-cc-discover; }
  &.fa-cc-jcb { background-color: $fa-cc-jcb; }
  &.fa-cc-mastercard { background-color: $fa-cc-mastercard; }
  &.fa-cc-paypal { background-color: $fa-cc-paypal; }
  &.fa-cc-stripe { background-color: $fa-cc-stripe; }
  &.fa-cc-visa { background-color: $fa-cc-visa; }
  &.fa-chrome { background-color: $fa-chrome; }
  &.fa-codepen { background-color: $fa-codepen; }
  &.fa-connectdevelop { background-color: $fa-connectdevelop; }
  &.fa-contao { background-color: $fa-contao; }
  &.fa-creative-commons { background-color: $fa-creative-commons; }
  &.fa-css3 { background-color: $fa-css3; }
  &.fa-dashcube { background-color: $fa-dashcube; }
  &.fa-delicious { background-color: $fa-delicious; }
  &.fa-deviantart { background-color: $fa-deviantart; }
  &.fa-digg { background-color: $fa-digg; }
  &.fa-dribbble { background-color: $fa-dribbble; }
  &.fa-dropbox { background-color: $fa-dropbox; }
  &.fa-drupal { background-color: $fa-drupal; }
  &.fa-empire { background-color: $fa-empire; }
  &.fa-expeditedssl { background-color: $fa-expeditedssl; }
  &.fa-facebook { background-color: $fa-facebook; }
  &.fa-facebook-official { background-color: $fa-facebook-official; }
  &.fa-facebook-square { background-color: $fa-facebook-square; }
  &.fa-firefox { background-color: $fa-firefox; }
  &.fa-flickr { background-color: $fa-flickr; }
  &.fa-fonticons { background-color: $fa-fonticons; }
  &.fa-forumbee { background-color: $fa-forumbee; }
  &.fa-foursquare { background-color: $fa-foursquare; }
  &.fa-ge { background-color: $fa-ge; }
  &.fa-get-pocket { background-color: $fa-get-pocket; }
  &.fa-gg { background-color: $fa-gg; }
  &.fa-gg-circle { background-color: $fa-gg-circle; }
  &.fa-git { background-color: $fa-git; }
  &.fa-git-square { background-color: $fa-git-square; }
  &.fa-github { background-color: $fa-github; }
  &.fa-github-alt { background-color: $fa-github-alt; }
  &.fa-github-square { background-color: $fa-github-square; }
  &.fa-gittip { background-color: $fa-gittip; }
  &.fa-google { background-color: $fa-google; }
  &.fa-google-plus { background-color: $fa-google-plus; }
  &.fa-google-plus-square { background-color: $fa-google-plus-square; }
  &.fa-google-wallet { background-color: $fa-google-wallet; }
  &.fa-hacker-news { background-color: $fa-hacker-news; }
  &.fa-houzz { background-color: $fa-houzz; }
  &.fa-html5 { background-color: $fa-html5; }
  &.fa-instagram { background-color: $fa-instagram; }
  &.fa-internet-explorer { background-color: $fa-internet-explorer; }
  &.fa-ioxhost { background-color: $fa-ioxhost; }
  &.fa-joomla { background-color: $fa-joomla; }
  &.fa-jsfiddle { background-color: $fa-jsfiddle; }
  &.fa-lastfm { background-color: $fa-lastfm; }
  &.fa-lastfm-square { background-color: $fa-lastfm-square; }
  &.fa-leanpub { background-color: $fa-leanpub; }
  &.fa-linkedin { background-color: $fa-linkedin; }
  &.fa-linkedin-square { background-color: $fa-linkedin-square; }
  &.fa-linux { background-color: $fa-linux; }
  &.fa-maxcdn { background-color: $fa-maxcdn; }
  &.fa-meanpath { background-color: $fa-meanpath; }
  &.fa-medium { background-color: $fa-medium; }
  &.fa-odnoklassniki { background-color: $fa-odnoklassniki; }
  &.fa-odnoklassniki-square { background-color: $fa-odnoklassniki-square; }
  &.fa-opencart { background-color: $fa-opencart; }
  &.fa-openid { background-color: $fa-openid; }
  &.fa-opera { background-color: $fa-opera; }
  &.fa-optin-monster { background-color: $fa-optin-monster; }
  &.fa-pagelines { background-color: $fa-pagelines; }
  &.fa-paypal { background-color: $fa-paypal; }
  &.fa-pied-piper { background-color: $fa-pied-piper; }
  &.fa-pied-piper-alt { background-color: $fa-pied-piper-alt; }
  &.fa-pied-piper-square { background-color: $fa-pied-piper-square; }
  &.fa-pinterest { background-color: $fa-pinterest; }
  &.fa-pinterest-p { background-color: $fa-pinterest-p; }
  &.fa-pinterest-square { background-color: $fa-pinterest-square; }
  &.fa-qq { background-color: $fa-qq; }
  &.fa-ra { background-color: $fa-ra; }
  &.fa-rebel { background-color: $fa-rebel; }
  &.fa-reddit { background-color: $fa-reddit; }
  &.fa-reddit-square { background-color: $fa-reddit-square; }
  &.fa-renren { background-color: $fa-renren; }
  &.fa-safari { background-color: $fa-safari; }
  &.fa-sellsy { background-color: $fa-sellsy; }
  &.fa-share-alt { background-color: $fa-share-alt; }
  &.fa-share-alt-square { background-color: $fa-share-alt-square; }
  &.fa-shirtsinbulk { background-color: $fa-shirtsinbulk; }
  &.fa-simplybuilt { background-color: $fa-simplybuilt; }
  &.fa-skyatlas { background-color: $fa-skyatlas; }
  &.fa-skype { background-color: $fa-skype; }
  &.fa-slack { background-color: $fa-slack; }
  &.fa-slideshare { background-color: $fa-slideshare; }
  &.fa-soundcloud { background-color: $fa-soundcloud; }
  &.fa-spotify { background-color: $fa-spotify; }
  &.fa-stack-exchange { background-color: $fa-stack-exchange; }
  &.fa-stack-overflow { background-color: $fa-stack-overflow; }
  &.fa-steam { background-color: $fa-steam; }
  &.fa-steam-square { background-color: $fa-steam-square; }
  &.fa-stumbleupon { background-color: $fa-stumbleupon; }
  &.fa-stumbleupon-circle { background-color: $fa-stumbleupon-circle; }
  &.fa-tencent-weibo { background-color: $fa-tencent-weibo; }
  &.fa-trello { background-color: $fa-trello; }
  &.fa-tripadvisor { background-color: $fa-tripadvisor; }
  &.fa-tumblr { background-color: $fa-tumblr; }
  &.fa-tumblr-square { background-color: $fa-tumblr-square; }
  &.fa-twitch { background-color: $fa-twitch; }
  &.fa-twitter { background-color: $fa-twitter; }
  &.fa-twitter-square { background-color: $fa-twitter-square; }
  &.fa-viacoin { background-color: $fa-viacoin; }
  &.fa-vimeo { background-color: $fa-vimeo; }
  &.fa-vimeo-square { background-color: $fa-vimeo-square; }
  &.fa-vine { background-color: $fa-vine; }
  &.fa-vk { background-color: $fa-vk; }
  &.fa-wechat { background-color: $fa-wechat; }
  &.fa-weibo { background-color: $fa-weibo; }
  &.fa-weixin { background-color: $fa-weixin; }
  &.fa-wikipedia-w { background-color: $fa-wikipedia-w; }
  &.fa-windows { background-color: $fa-windows; }
  &.fa-wordpress { background-color: $fa-wordpress; }
  &.fa-xing { background-color: $fa-xing; }
  &.fa-xing-square { background-color: $fa-xing-square; }
  &.fa-y-combinator { background-color: $fa-y-combinator; }
  &.fa-yc { background-color: $fa-yc; }
  &.fa-yahoo { background-color: $fa-yahoo; }
  &.fa-yelp { background-color: $fa-yelp; }
  &.fa-youtube { background-color: $fa-youtube; }
  &.fa-youtube-play { background-color: $fa-youtube-play; }
  &.fa-youtube-square { background-color: $fa-youtube-square; }

  &.stbe-util--icon-border {
    background: transparent;color:#444;
  }
}

.stbe-social-links--color-brand .fa {
  &.fa-500px { color: $fa-500px; }
  &.fa-adn { color: $fa-adn; }
  &.fa-amazon { color: $fa-amazon; }
  &.fa-android { color: $fa-android; }
  &.fa-angellist { color: $fa-angellist; }
  &.fa-apple { color: $fa-apple; }
  &.fa-behance { color: $fa-behance; }
  &.fa-behance-square { color: $fa-behance-square; }
  &.fa-bitbucket { color: $fa-bitbucket; }
  &.fa-bitbucket-square { color: $fa-bitbucket-square; }
  &.fa-bitcoin { color: $fa-bitcoin; }
  &.fa-black-tie { color: $fa-black-tie; }
  &.fa-btc { color: $fa-btc; }
  &.fa-buysellads { color: $fa-buysellads; }
  &.fa-cc-amex { color: $fa-cc-amex; }
  &.fa-cc-diners-club { color: $fa-cc-diners-club; }
  &.fa-cc-discover { color: $fa-cc-discover; }
  &.fa-cc-jcb { color: $fa-cc-jcb; }
  &.fa-cc-mastercard { color: $fa-cc-mastercard; }
  &.fa-cc-paypal { color: $fa-cc-paypal; }
  &.fa-cc-stripe { color: $fa-cc-stripe; }
  &.fa-cc-visa { color: $fa-cc-visa; }
  &.fa-chrome { color: $fa-chrome; }
  &.fa-codepen { color: $fa-codepen; }
  &.fa-connectdevelop { color: $fa-connectdevelop; }
  &.fa-contao { color: $fa-contao; }
  &.fa-creative-commons { color: $fa-creative-commons; }
  &.fa-css3 { color: $fa-css3; }
  &.fa-dashcube { color: $fa-dashcube; }
  &.fa-delicious { color: $fa-delicious; }
  &.fa-deviantart { color: $fa-deviantart; }
  &.fa-digg { color: $fa-digg; }
  &.fa-dribbble { color: $fa-dribbble; }
  &.fa-dropbox { color: $fa-dropbox; }
  &.fa-drupal { color: $fa-drupal; }
  &.fa-empire { color: $fa-empire; }
  &.fa-expeditedssl { color: $fa-expeditedssl; }
  &.fa-facebook { color: $fa-facebook; }
  &.fa-facebook-official { color: $fa-facebook-official; }
  &.fa-facebook-square { color: $fa-facebook-square; }
  &.fa-firefox { color: $fa-firefox; }
  &.fa-flickr { color: $fa-flickr; }
  &.fa-fonticons { color: $fa-fonticons; }
  &.fa-forumbee { color: $fa-forumbee; }
  &.fa-foursquare { color: $fa-foursquare; }
  &.fa-ge { color: $fa-ge; }
  &.fa-get-pocket { color: $fa-get-pocket; }
  &.fa-gg { color: $fa-gg; }
  &.fa-gg-circle { color: $fa-gg-circle; }
  &.fa-git { color: $fa-git; }
  &.fa-git-square { color: $fa-git-square; }
  &.fa-github { color: $fa-github; }
  &.fa-github-alt { color: $fa-github-alt; }
  &.fa-github-square { color: $fa-github-square; }
  &.fa-gittip { color: $fa-gittip; }
  &.fa-google { color: $fa-google; }
  &.fa-google-plus { color: $fa-google-plus; }
  &.fa-google-plus-square { color: $fa-google-plus-square; }
  &.fa-google-wallet { color: $fa-google-wallet; }
  &.fa-hacker-news { color: $fa-hacker-news; }
  &.fa-houzz { color: $fa-houzz; }
  &.fa-html5 { color: $fa-html5; }
  &.fa-instagram { color: $fa-instagram; }
  &.fa-internet-explorer { color: $fa-internet-explorer; }
  &.fa-ioxhost { color: $fa-ioxhost; }
  &.fa-joomla { color: $fa-joomla; }
  &.fa-jsfiddle { color: $fa-jsfiddle; }
  &.fa-lastfm { color: $fa-lastfm; }
  &.fa-lastfm-square { color: $fa-lastfm-square; }
  &.fa-leanpub { color: $fa-leanpub; }
  &.fa-linkedin { color: $fa-linkedin; }
  &.fa-linkedin-square { color: $fa-linkedin-square; }
  &.fa-linux { color: $fa-linux; }
  &.fa-maxcdn { color: $fa-maxcdn; }
  &.fa-meanpath { color: $fa-meanpath; }
  &.fa-medium { color: $fa-medium; }
  &.fa-odnoklassniki { color: $fa-odnoklassniki; }
  &.fa-odnoklassniki-square { color: $fa-odnoklassniki-square; }
  &.fa-opencart { color: $fa-opencart; }
  &.fa-openid { color: $fa-openid; }
  &.fa-opera { color: $fa-opera; }
  &.fa-optin-monster { color: $fa-optin-monster; }
  &.fa-pagelines { color: $fa-pagelines; }
  &.fa-paypal { color: $fa-paypal; }
  &.fa-pied-piper { color: $fa-pied-piper; }
  &.fa-pied-piper-alt { color: $fa-pied-piper-alt; }
  &.fa-pied-piper-square { color: $fa-pied-piper-square; }
  &.fa-pinterest { color: $fa-pinterest; }
  &.fa-pinterest-p { color: $fa-pinterest-p; }
  &.fa-pinterest-square { color: $fa-pinterest-square; }
  &.fa-qq { color: $fa-qq; }
  &.fa-ra { color: $fa-ra; }
  &.fa-rebel { color: $fa-rebel; }
  &.fa-reddit { color: $fa-reddit; }
  &.fa-reddit-square { color: $fa-reddit-square; }
  &.fa-renren { color: $fa-renren; }
  &.fa-safari { color: $fa-safari; }
  &.fa-sellsy { color: $fa-sellsy; }
  &.fa-share-alt { color: $fa-share-alt; }
  &.fa-share-alt-square { color: $fa-share-alt-square; }
  &.fa-shirtsinbulk { color: $fa-shirtsinbulk; }
  &.fa-simplybuilt { color: $fa-simplybuilt; }
  &.fa-skyatlas { color: $fa-skyatlas; }
  &.fa-skype { color: $fa-skype; }
  &.fa-slack { color: $fa-slack; }
  &.fa-slideshare { color: $fa-slideshare; }
  &.fa-soundcloud { color: $fa-soundcloud; }
  &.fa-spotify { color: $fa-spotify; }
  &.fa-stack-exchange { color: $fa-stack-exchange; }
  &.fa-stack-overflow { color: $fa-stack-overflow; }
  &.fa-steam { color: $fa-steam; }
  &.fa-steam-square { color: $fa-steam-square; }
  &.fa-stumbleupon { color: $fa-stumbleupon; }
  &.fa-stumbleupon-circle { color: $fa-stumbleupon-circle; }
  &.fa-tencent-weibo { color: $fa-tencent-weibo; }
  &.fa-trello { color: $fa-trello; }
  &.fa-tripadvisor { color: $fa-tripadvisor; }
  &.fa-tumblr { color: $fa-tumblr; }
  &.fa-tumblr-square { color: $fa-tumblr-square; }
  &.fa-twitch { color: $fa-twitch; }
  &.fa-twitter { color: $fa-twitter; }
  &.fa-twitter-square { color: $fa-twitter-square; }
  &.fa-viacoin { color: $fa-viacoin; }
  &.fa-vimeo { color: $fa-vimeo; }
  &.fa-vimeo-square { color: $fa-vimeo-square; }
  &.fa-vine { color: $fa-vine; }
  &.fa-vk { color: $fa-vk; }
  &.fa-wechat { color: $fa-wechat; }
  &.fa-weibo { color: $fa-weibo; }
  &.fa-weixin { color: $fa-weixin; }
  &.fa-wikipedia-w { color: $fa-wikipedia-w; }
  &.fa-windows { color: $fa-windows; }
  &.fa-wordpress { color: $fa-wordpress; }
  &.fa-xing { color: $fa-xing; }
  &.fa-xing-square { color: $fa-xing-square; }
  &.fa-y-combinator { color: $fa-y-combinator; }
  &.fa-yc { color: $fa-yc; }
  &.fa-yahoo { color: $fa-yahoo; }
  &.fa-yelp { color: $fa-yelp; }
  &.fa-youtube { color: $fa-youtube; }
  &.fa-youtube-play { color: $fa-youtube-play; }
  &.fa-youtube-square { color: $fa-youtube-square; }

  &.stbe-util--icon-border {
    background: transparent;color:#444;
  }
}
