@charset "UTF-8";

.az-left-sidebar,
.az-right-sidebar {
  background-color: #fff;
  color: #444;
  position: fixed;
  top: 0px;
  width: 500px;
  height: 100%;
  z-index: 10000;
  transition: left 0.15s ease-out;
  box-shadow: 0 3px 20px 0 rgba(50, 50, 50, 0.23);
  a {
    color: #0180ef;
    &:hover,
    &:focus,
    &:active {
      color: #0180ef;
    }
    &:focus {
      background: #f0f0f0;
    }

  }
}
.az-left-sidebar {
  left: -500px;
}
.az-right-sidebar {
  right: -500px;
}
.az-left-sidebar:hover {
  left: 0px;
  transition-timing-function: ease-in-out;
}
.az-right-sidebar:hover {
  right: 0px;
}
.az-left-sidebar::after,
.az-right-sidebar::after {
  position: absolute;
  content: ' ';
  bottom: 100px;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 0 4px 4px 0;
  background: #0180ef url('../images/glazed-logo-white.svg') no-repeat center center;
  background-size: 50px;
}
.glazed-snippets-header {
  background: #0180ef;
  pointer-events: none;
  h3 {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    position: relative;
    top: 5px;
  }
  img {
    display: inline-block;
    padding-right: 10px;
    width: 50px;
  }

}
.az-left-sidebar::after {
  right: -50px;
}
.az-right-sidebar::after {
  left: -50px;
}

.nav.az-nav-list {
  padding-left: 15px;
  margin-bottom: 0;
  display: none;
  height: 100%;
  position: relative;
  background: #fff;
  z-index: 2010;
}
.nav.az-nav-list > li > a {
  padding: 8px 10px;
  margin-left: -15px;
  display: block;
}

// HTML Snippets sidebar
#az-template-elements,
#az-thumbnails,
#az-template-elements *,
#az-thumbnails * {
  box-sizing: border-box;
}
#az-template-elements > .nav.az-nav-list {
  display: block;
}
#az-template-elements {
  width: 200px;
  left: -200px;
}
#az-template-elements:hover {
  left: 0px;
}
#az-thumbnails {
  display: none;
  overflow-y: scroll;
  height: 100%;
  width: 250px;
  position: absolute;
  z-index: 2005;
  left: 200px;
  top: 0px;
  background-color: #f0f0f0;
  box-shadow: 0 3px 20px 0 rgba(50, 50, 50, 0.23);
  padding: 10px;
}
#az-template-elements.az-thumbnails::after {
  right: -200px;
}
.az-thumbnail {
  cursor: move;
  margin-bottom: 10px;
}
#az-template-elements-welcome {
  background-color: whitesmoke;
  position: fixed;
  bottom: 100px;
  left: 100px;
  width: 600px;
  z-index: 10000;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}