#instapage-toolbar.l-wrapper
{
  margin-top: 50px;
  margin-bottom: 50px;
}

#instapage-toolbar.l-wrapper > div
{
  border: 1px solid #f0f0f0;
  padding: 40px 0;
  background-color: white;
}

.instapage-cms-plugin
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #37475a;
  font-size: 14px;
}

.instapage-cms-plugin .preview-image .cropper
{
  max-height: 200px;
  margin-bottom: 10px;
  overflow: hidden;
}

.instapage-cms-plugin td .page-title
{
  margin-top: 10px;
}

.instapage-cms-plugin td .page-actions
{
   margin: 10px auto 15px;
}

.instapage-cms-plugin td .page-url
{
   margin: 10px 0;
}

.instapage-cms-plugin td .variation
{
  padding-bottom: 15px;
}

.instapage-cms-plugin td .variation:first-child
{
  padding-top: 10px;
}

.instapage-cms-plugin td .variation div:first-of-type
{
  padding-bottom: 5px;
  display: inline-block;
}

.instapage-cms-plugin td .variation div:nth-of-type(2),
.instapage-cms-plugin td .variation div:nth-of-type(3)
{
  background-color: #F2F7F9;
}

.instapage-cms-plugin .variation-conversion-rate
{
  margin-top: 5px;
}

.instapage-cms-plugin .variation-stats
{
  padding: 4px;
  border-radius: 3px;
}

.instapage-cms-plugin .c-table__cell img
{
  margin: 10px 0;
}

.instapage-cms-plugin h2
{
  text-align: center;
  border: none;
}

.instapage-cms-plugin .instapage-content input[type=password]
{
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
}

.instapage-cms-plugin input[type=text],
.instapage-cms-plugin input[type=text]:focus
{
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  background: none;
}

.instapage-cms-plugin .c-modal
{
  line-height: 1.5;
  width: 80%;
  position: relative;
  margin-bottom: 10px;
}

.instapage-cms-plugin label
{
  cursor: default;
  padding-left: 5px;
  margin-bottom: 10px;
}

.instapage-cms-plugin select
{
  box-shadow: none;
}

.instapage-cms-plugin .los-pollos.c-form-text-item
{
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}

.instapage-cms-plugin .los-pollos span.c-form-text-item__info
{
  font-size: 14px;
  width: 31%;
  display: block;
  position: initial;
  text-align: right;
  padding-top: 10px;
}

.instapage-cms-plugin .los-pollos span.c-form-text-item__info.slug
{
  text-align: left;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.instapage-cms-plugin .los-pollos > div
{
  width: 68%;
  display: block;
  margin-left: 30px;
}

.instapage-cms-plugin .los-pollos > div > label
{
  left: 340px;
}

.instapage-cms-plugin .tokens-container
{
  padding-top: 15px;
}

.instapage-cms-plugin .tokens-container table tbody td
{
  padding-top: 20px;
}

.instapage-cms-plugin .c-table__cell:first-child
{
  padding-left: 15px;
}

.instapage-cms-plugin .c-table__cell:last-child
{
  padding-right: 15px;
}

.instapage-cms-plugin .page-loader
{
  text-align: center;
}

.instapage-cms-plugin .diagnostic-mode-on .diagnostic-mode-warning
{
  font-weight: 600;
  color: #cc0000;
}
