.instapage-cms-plugin .ui-title,
.instapage-cms-plugin .ui-subtitle {
  display: inline-block;
  width: 100%; }

.instapage-cms-plugin .ui-title {
  font-size: 40px;
  line-height: 180%;
  border-bottom: 1px solid #dde4ea;
  margin: 0 0 15px 0; }

.instapage-cms-plugin .ui-subtitle {
  font-size: 22px;
  line-height: 150%;
  margin: 5px 0 10px 0;
  padding: 0;
  font-weight: normal; }

.instapage-cms-plugin .ui-section {
  margin-bottom: 35px; }

.instapage-cms-plugin .ui-sub-section {
  margin-bottom: 10px; }

.instapage-cms-plugin .ui-space {
  padding: 20px; }

.instapage-cms-plugin .ui-paragraph {
  margin-bottom: 30px; }

.instapage-cms-plugin .ui-code {
  font-family: monospace;
  background-color: #f4f4f4; }

.instapage-cms-plugin .ui-warning {
  color: #c00; }

.instapage-cms-plugin .ui-sample-background {
  background-color: #f4f4f4; }

.instapage-cms-plugin .ui-fixed-width-200 {
  flex: 0 0 200px; }

.instapage-cms-plugin strong {
  font-weight: bold; }

.instapage-cms-plugin .ui-grid--cell {
  text-align: center;
  line-height: 35px;
  font-size: 11px; }

.instapage-cms-plugin input {
  background: none; }

.instapage-cms-plugin input[readonly] {
  background-color: #fff; }

.instapage-cms-plugin table,
.instapage-cms-plugin table tr,
.instapage-cms-plugin table tr th,
.instapage-cms-plugin table tr th:hover {
  background-color: #fff;
  color: #90a4ae;
  font-weight: normal; }

.instapage-cms-plugin table tr td,
.instapage-cms-plugin table tr td:hover {
  color: #37475a; }

.instapage-cms-plugin select,
.instapage-cms-plugin select:hover,
.instapage-cms-plugin select:active,
.instapage-cms-plugin select:focus {
  background: none;
  appearance: normal;
  -webkit-appearance: menulist;
  -moz-appearance: menulist; }

.instapage-cms-plugin ul,
.block .instapage-cms-plugin ul,
.item-list .instapage-cms-plugin ul {
  list-style-type: none;
  list-style-image: none; }

.instapage-cms-plugin .notice-error,
.instapage-cms-plugin div.error,
.instapage-cms-plugin div.updated {
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-bottom: 30px;
}
