@charset "UTF-8";

.glazed.az-container {
  // z-index: 1; // disable this because it puts the container below the primary tabs
  min-height: 14px;
}

.az-element {
  position: relative;
  overflow: visible;
}

.az-element .modal-backdrop, .az-element .ax-modal-backdrop {
  z-index: 200;
}

.az-popup-ctnr {
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  left: 50%;
  top: 50%;
  width: 101%;
  z-index: 210;
  transform: translate(-50%, -50%);
}

.az-popup > img, .az-popup > span {
  cursor: pointer;
}

.az-popup-close {
  cursor: pointer;
}

.progress, .ax-progress {
  overflow: visible;
}
div.panel-group .panel, div.ax-panel-group .ax-panel {
  overflow: visible;
}


.glyphicon, .ax-glyphicon {
  font-family: 'Glyphicons Halflings' !important;
}

.glazed button.fa {
  font-family: FontAwesome;
}

.popover {
  z-index: 99999 !important;
}