
.gj40s_wrap { }

.gj40s_left {
	width: 450px;
	display: inline-block;
}

.gj40s_right {
	width: calc(100% - 500px);
	display: inline-block;
	padding: 20px 10px;
	float: right;

}

.gj40s_right_innner {
	font-size: 24px;
	line-height: 1.4em;
	padding-bottom: 15px;
}

.gj40s_right_innner a {
	color: #E2142D !important;
}

@media screen and (max-width: 720px) {
	.gj40s_left {
		width: 100%;
		display: block;
	}

	.gj40s_right {
		width: 100%;
		display: block;
	}
}