mixin connected

  +b.connected
    +e.loader
      +e.I.dot--1
      +e.I.dot--2
      +e.I.dot--3
    +e.SPAN.heading Connecting you to a GJ Team member
    +e.manager--hidden
      +e.IMG(src="../img/manager.jpg").pic