@charset "UTF-8";

.az-layers {
  display: inline-block;
  width: 100%;
  > .az-ctnr {
    position: relative;
    margin: auto;
    > .az-element {
      position: absolute !important;
      box-sizing: content-box !important;
    }
  }
}