@charset "UTF-8";

// Addtional Tabs Layouts

.az-tabs {
  &.tab-content {
    .tab-pane {
      display: none;
    }
    .active {
      display: block;
    }
  }
  &.tabbable {
    &:before {
      display: table;
      content: " ";
    }
    &:after {
      display: table;
      content: " ";
    }
  }
  .nav-tabs {
    padding-bottom: 0;
  }
  &.tabs-right .nav-tabs {
    border-bottom: 0;
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
    border-bottom: none !important;
    > li {
      float: none;
      > a {
        min-width: 74px;
        margin-right: 0;
        margin-bottom: 3px;
        margin-left: -1px;
        border-radius: 0 4px 4px 0;
        &:hover,
        &:focus {
          border-color: #eeeeee #eeeeee #eeeeee #dddddd !important;
          background-color: #fff !important;
        }
      }
    }
    .active > a,
    &:focus {
      border-color: #ddd #ddd #ddd transparent !important;
      background-color: #fff !important;
    }
  }
  &.tabs-left .nav-tabs {
    border-bottom: 0;
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
    border-bottom: none !important;
    > li {
      float: none;
      > a {
        min-width: 74px;
        margin-bottom: 3px;
        margin-right: -1px;
        border-radius: 4px 0 0 4px;
        &:hover,
        &:focus {
          border-color: #eeeeee #dddddd #eeeeee #eeeeee;
        }
      }
    }
    .active > a,
    &:focus {
      border-color: #ddd transparent #ddd #ddd !important;
      background-color: #fff !important;
    }
  }
}