@charset "UTF-8";


// Video Element
.az-video .az-video-icon {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  margin-left: -1.15em;
  margin-top: -0.8em;
  color: white;
  padding: 0.3em 0.65em;
  cursor: pointer;
  border-radius: 10px;
}