// Vendors and external stylesheets (sass/vendors/)
// Default variables.
@import "helpers/default-variables";
// Bootstrap Framework.
@import "../bootstrap/assets/stylesheets/bootstrap";
// Base-theme overrides.
@import "helpers/overrides";

// Layouts (sass/layouts/)
@import "layouts/old-responsive";

// Base stuff (scss/base)
@import "base/typography";

// Sass utilities (scss/helpers/)
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/helpers";

// Base stuff (scss/base)
@import "base/normalize";
@import "base/main";

// Components (scss/components)
@import "components/buttons";
@import "components/dropdown";

// Blocks stylesheets (scss/blocks/)
@import "blocks/header";
@import "blocks/footer";
@import "blocks/contact-form";
@import "blocks/notebook-screen";
@import "blocks/search-form";

// Pages (sass/pages/)
@import "pages/user";
@import "pages/node_view";
@import "pages/old-page";

/* variable for media querys */
$break-small-device: 992px;
$xs-mobile-tutors: 400px;

.page-level-subject-degree-gujarati div#tutor-ad-teaser-container-mobile .teaser-wrapper-mobile .tutor-ad-teaser-price-mobile {
  @media screen and (max-width: $break-small-device) {
    font-weight: 500;
    color: #43486d;
  }
}
.page-level-subject-degree-gujarati div#tutor-ad-teaser-container-mobile .teaser-wrapper-mobile .tutor-ad-teaser-title-mobile {
  @media screen and (max-width: $break-small-device) {
    font-weight: 300;
    color: #727272;
  }
}
.page-level-subject-degree-gujarati div#tutor-ad-teaser-container-mobile .teaser-wrapper-mobile .tutor-ad-teaser-subjects-mobile {
  @media screen and (max-width: $break-small-device) {
    font-weight: 500;
    color: #15180c;
  }
}
.page-level-subject-degree-gujarati div#tutor-ad-teaser-container-mobile .teaser-wrapper-mobile .tutor-ad-teaser-name-mobile {
  @media screen and (max-width: $break-small-device) {
    font-weight: 300;
    color: #43486d;
  }
}
.page-node-881 .field-name-cb-body .az-ctnr .az-util-vertical-centering .az-element h3 span {
	@media (max-width: $screen-xs-max) {
		font-size: 40px !important;
		line-height: 0.9 !important;
	}
} 
.page-node-881 .field-name-cb-body .az-ctnr .az-util-vertical-centering .az-element.az-text {
	@media (max-width: $screen-xs-max) {
		padding-right: 0px !important;
	}
} 
.page-node-881 .field-name-cb-body .az-ctnr .az-util-vertical-centering .az-element.az-text {
	@media (max-width: $screen-xs-max) {
		padding-top: 0px !important;		
	}
} 
.page-level-subject .parent-search-request-submit button#edit-submit:focus {
    outline: none;
}
.node-type-tutor-ad {
  div#tutor-ad-container .tutor-ad-section-title {
    @media (max-width: $xs-mobile-tutors) {
      font-size: 25px !important;   
    }
  }
  .embedded-video .player {
    iframe {
      @media (max-width: $screen-xs-max) {
        height: auto;
      }
    }
  }
}
.page-tutor-application-submitted {
  .main-container.section-wrapper {
    padding-bottom: 150px;
     .gj_as_title {
        @media (max-width: $screen-xs-max) {
          padding-top: 10px;
          padding-bottom: 20px;
      }
    }
  }
}
#field-enter-a-youtube-profile-vi-add-more-wrapper fieldset .video_embed_url {
  @media (max-width: $screen-xs-max) {
    /*width: 96% !important;    */
  }
}
.page-parent-query .gj_rr_parent_query_wrap .gj_rr_parent_query_signup_text_block_image {
  padding-bottom: 15px;
}
.page-respond-search-request .gj-pr-input-contatutoring_requestsiner .gj-pr-input-label {
  padding-top: 10px;
}
.node-type-cb-drag-drop-page {
  .az-element.az-ctnr .afterthedeadline-button {
    display: none;
  }
  .az-element .az-element.az-image {
    text-align: center;
    img {
      width: 300px !important;
      @media (max-width: 370px) {
        width: 200px;
      }
    }
  }
  .container > .az-row--sm .panel-body.az-ctnr > .az-element .az-element.az-image {
    text-align: center;
    img {
      @media (max-width: $screen-xs-max) {
        width: unset !important;
      }
    }
  }
}