
@font-face {
  font-family: "Raleway";
  font-display: auto;
  src: url('../fonts/Raleway-Medium.eot');
  src: local('Raleway Medium'), local('Raleway-Medium'),
  url('../fonts/Raleway-Medium.eot?') format('embedded-opentype'),
  url('../fonts/Raleway-Medium.woff') format('woff'),
  url('../fonts/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;

}